@font-face {
    font-family: myFont;
    src: url(../assets/fonts/Kablammo-Regular-VariableFont_MORF.ttf);
}

* {
    margin: 0;
    font-family: myFont;
}

h1 {
    font-size: 60px;
    color: white;
}

.impressum_text_main p,
.impressum_text_main a,
.impressum_text_main strong {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 120px;
    background-color: #C89243;
    display: flex;
    justify-content: center;
}

.header_content {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background-color: #C89243;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header_content img {
    width: 64px;
    height: 64px;
}

.header_content a {
    position: absolute;
    left: 24px;
    /* Abstand vom Rand */
}

main {
    width: 100%;
    height: calc(100dvh - 240px);
    background-color: #FCC15E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background-color: #FCC15E;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../assets/img/html_img/main_background_2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0px 24px;
    flex-direction: column;
    text-align: start;
    position: relative;
    isolation: isolate;
}

/* 👉 Overlay */
.main_content::before {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(90, 42, 10, 0.7);
    /* Stärke anpassen */

    z-index: 0;
    pointer-events: none;
}

/* 👉 Content wieder darüber */
.main_content>* {
    position: relative;
    z-index: 1;
}

.impressum_header_main {
    width: 100%;
    max-width: 1000px;
}

.impressum_header_main h1 {
    text-align: start;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 80px;
    padding-bottom: 40px;
}

.impressum_text_main {
    max-width: 1000px;
}

footer {
    width: 100%;
    height: 120px;
    background-color: #C89243;
    display: flex;
    justify-content: center;
}

.footer_content {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background-color: #C89243;
    display: flex;
    justify-content: center;
    align-items: center
}

footer a {
    font-family: 'Courier New', Courier, monospace;
    color: white
}

canvas {
    background-color: black;
    width: 720px;
    height: 480px;
}

canvas:fullscreen {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background-color: black;
}

@media (max-width: 800px) {
    h1 {
        font-size: 24px;
    }

    main {
        position: relative;
    }

    main::before {
        content: "";
        position: absolute;
        inset: 0;

        background: rgba(90, 42, 10, 0.65);

        z-index: 0;
        pointer-events: none;
    }

    .main_content {
        position: relative;
        z-index: 1;
        padding: 24px 14px;
    }

    header {
        height: 40px
    }

    .impressum_header_main h1 {
        padding-top: 0;
    }

    .header_content img {
        height: 32px;
        width: 32px;
    }

    main {
        height: auto;
        min-height: 100dvh;
        overflow-x: hidden;
        overflow-y: visible;
    }

    .main_content {
        height: auto;
        min-height: 100dvh;
        overflow: visible;
        padding: 24px 14px 48px 14px;
    }

    footer {
        height: 40px;
    }
}