* {
    margin: 0
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: black;
    width: 720px;
    height: 480px;
}

canvas:fullscreen {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background-color: black;
}